{% extends 'base.html.twig' %}

{% block style %}
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ article.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    {{ article.author.fullName }}
                </p>

                <hr>

                <!-- Date/Time -->
                <p><i>Дата:</i> {{ article.dateAdded|date('Y-m-d') }}</p>

                <hr>

                <!-- Preview Image -->
                {% if article.image %}
                    <img class="img-fluid rounded" src="{{ asset('uploads/images/' ~ article.image) }}" width="900"
                         height="300">
                {% endif %}

                <hr>

                <!-- Post Content -->
                <p class="lead"> {{ article.content }} </p>

                {#<blockquote class="blockquote">#}
                {#<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>#}
                {#<footer class="blockquote-footer">Someone famous in#}
                {#<cite title="Source Title">Source Title</cite>#}
                {#</footer>#}
                {#</blockquote>#}

                <hr>

                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissable">
                        {{ msg }}
                    </div>
                {% endfor %}

                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                        {{ msg }}
                    </div>
                {% endfor %}

                <div>
                    <a href="{{ path('article_like', {'id': article.id}) }}">
                        <i class="fa fa-2x fa-thumbs-o-up" aria-hidden="true"></i>
                    </a>
                    <span style="font-size: x-large">{{ article.likesCount }}</span>

                    <a href="{{ path('article_dislike', {'id': article.id}) }}">
                        <i class="fa fa-2x fa-thumbs-o-down" aria-hidden="true"></i>
                    </a>
                    <span style="font-size: x-large">{{ article.dislikesCount }}</span>
                </div>

                <hr>
                <div>
                    {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                        <a class="btn btn-info btn-xs"
                           href="{{ path('article_edit', {'id': article.id}) }}">Редактиране</a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('article_delete', {'id': article.id}) }}">Изтриване</a>
                    {% endif %}

                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="{{ path('blog') }}">Начало</a>
                    </div>


                </div>

                <hr>

                {% if app.getUser() %}
                    <button class="btn btn-success btn-xs" id="btnComment">Добави коментар</button>
                {% endif %}

                <div id="form">

                </div>

                <br />
                <br />

                {% for comment in article.comments %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/free-daily-icon-set/512/Comments-512.png" width="50" height="50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.author.fullName }}</h5>
                            {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Категории</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 2}) }}">Трафик</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 3}) }}">Пътна обстановка</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 4}) }}">Обяви</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 5}) }}">Новини</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 6}) }}">Интересно</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog_category', {'id': 7}) }}">Други</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Трябва ти превоз?</h5>
                    <div class="card-body text-center">
                        <i class="fa fa-4x fa-taxi" aria-hidden="true"></i>
                        <div style="font-size: xx-large; font-family: 'Bodoni MT Black', serif">17-17-177</div>
                        <div style="font-size: xx-large; font-family: 'Bodoni MT Black', serif">17-17-178</div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <script>

        let form = $(`
            <div class="card my-4">
                    <h5 class="card-header">Добави коментар:</h5>
                    <div class="card-body">
                        <form method="post" action="{{ path('add_comment', {'id': article.id}) }}">
                            <div class="form-group">
                                <label>
                                    <textarea class="form-control" rows="5" cols="40" id="comment_content" name="comment[content]"></textarea>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Добави</button>
                        </form>
                    </div>
                </div>
        `);

        $('#btnComment').on('click', function (e) {
            e.preventDefault();
            $('#form').append(form);
            $('#form').toggle();
        })

    </script>

{% endblock %}

