{% extends 'base.html.twig' %}

{% block style %}
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            {% for driver in drivers %}
                <div class="col-lg-4 col-sm-6 portfolio-item">

                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset('uploads/images/' ~ driver.image) }}"
                             width="150" height="300" alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                <u>{{ driver.fullName }}</u>
                            </h5>

                            <div>
                                <h6>
                                    {% if driver.ratingsCount != null %}
                                        Средна оценка на шофьор: (1-10)
                                        <h2><i class="fa fa-star-o"
                                               aria-hidden="true"></i>{{ (driver.ratingsSum / driver.ratingsCount)|round(2) }}</h2>
                                    {% endif %}
                                </h6>
                            </div>

                            {% if app.getUser() %}
                                <a href="{{ path('driver_profile', {'id': driver.id}) }}"
                                   class="btn btn-primary">Оцени, разгледай коментари</a>
                            {% endif %}

                            {% if app.getUser() == null %}
                                <a href="{{ path('user_register') }}" class="btn btn-primary">Регистрирай се, за да
                                    оцениш!</a>
                            {% endif %}


                            <br />

                            Брой потебители дали оценка:
                            <div>
                                <i class="fa fa-users" aria-hidden="true"></i>{{ driver.ratingsCount }}
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br/>

{% endblock %}