{% extends 'base.html.twig' %}

{% block style %}
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block main %}


    <div class="container">


        <div class="row">
            <div class="col-lg-8">

                <br/>
                {% for rating in driver.ratings %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3"
                             src="https://cdn4.iconfinder.com/data/icons/society-outline/200/public-opinion-512.png"
                             width="50" height="50" alt="">
                        <div class="media-body">
                            {#<h5 class="mt-0">{{ }}</h5>#}
                            <h3>{{ rating.comment }}</h3>
                            <div><h6><i class="fa fa-star" aria-hidden="true"></i><cite>{{ rating.grade }}</cite></h6></div>

                        </div>
                        <div class="small">
                            <cite>{{ rating.dateAdded|date('Y-m-d') }}</cite>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <div class="col-lg-12 col-sm-12 portfolio-item">

                    <div class="card h-100">
                        {% if app.getUser() %}
                            <button class="btn btn-success btn-xs" id="btnRate">Дай своята оценка!</button>
                        {% endif %}

                        <div id="form">

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div>
                    <img class="rounded" src="{{ asset('uploads/images/' ~ driver.image) }}"
                         width="300" height="300" alt="">
                    <br/>
                    <br/>
                    <blockquote class="blockquote">
                        <p class="mb-0">"{{ driver.quote }}"</p>
                        <footer class="blockquote-footer text-center">{{ driver.fullName }}</footer>
                    </blockquote>


                {#<div class="pull-left">#}
                    {% if app.user %}
                        {% if app.user.isAdmin() %}
                            <p class="text-center"><a class="btn btn-info btn-sm"
                                                      href="{{ path('driver_edit', {'id': driver.id}) }}" role="button">Редактирай шофьор</a></p>
                            <p class="text-center"><a class="btn btn-danger btn-sm"
                                                      href="{{ path('driver_delete', {'id': driver.id}) }}" role="button">Изтрий шофьор</a></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <br/>

    <script>

        let form = $(`
            <div class="card my-4">
                    <h5 class="card-header">Добави оценка:</h5>
                    <div class="card-body">
                        <form method="post" action="{{ path('add_rate', {'id': driver.id}) }}">
                            <div class="form-group">
                                <label>
                                Оценка:
                                <select name="rating[grade]">
                                    {% for grade in range(1, 10) %}
                                        <option value="{{ grade }}">{{ grade }}</option>
                                    {% endfor %}
                                </select>
                                </label>
                             </div>
                             <div class="form-group">
                                <label>
                                Коментар:
                                    <textarea class="form-control" rows="5" cols="40" id="rating_comment" name="rating[comment]"></textarea>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Оцени</button>
                        </form>
                    </div>
                </div>
        `);

        $('#btnRate').on('click', function (e) {
            e.preventDefault();
            $('#form').append(form);
            $('#form').toggle();
        })

    </script>

{% endblock %}